

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
}

header {
    background: linear-gradient(50deg, rgb(16, 194, 25), #49be91);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header p {
    font-weight: bold;
    font-size: 2em;
}

h1 {
    font-size: 4em;
}
nav {
    margin-right: 20px;
    float: right;

    
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}
nav ul li {
    display: inline;
    margin-right: 15px;
    font-weight: bold;
    font-size: 1.2em;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.gallery {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.gallery img {
    display: none;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}
.gallery img.active {
    display: block;
}

@media only screen and (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
}

p{
margin: 20px;
font-size: 20px;
}